<html>
    <head>
	<title>KidZone - Babies </title>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery.nivo.slider.js"></script>
	<script type="text/javascript">
		$(window).load(function() {
		        $('#slider').nivoSlider();
		    });
		
		$('.menu1 li a').click(function(){
		  var loadUrl = $(this).prop('href');
        	  $('#wrapper').html(ajax_load).load(loadUrl);
		});
	</script>
	<link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css">
    </head>
    <body>
       <div class="header-container">
	<p class="welcome-msg"><h3><strong>Welcome to KidZone - Online Toys Store</strong></h3></p>
	 <div class="smartBannerIdentifier"></div>
        </div>
       <div class="header">
          <h1 class="logo"><img src="{{ STATIC_URL }}kidzonea.jpg" height=120; width=250></a></h1>
	    <div class="quick1">
             <div class="quick-access">
		<form id="search_mini_form" action="#" method="get">
    	     <div class="form-search">
        <label for="search">Search:</label>
        <input id="search" type="text" name="q" value="" class="input-text" maxlength="128" />
        <button type="submit" title="Search" class="button"><span><span>Search</span></span></button>
        <div id="search_autocomplete" class="search-autocomplete"></div>
       
    	</div>
	</form>
	</div>
        </div>
	</div>
	</div>
	<div id="menus">
            <ul class="menu1">
		<li class="menu_home_icon"><a href="{% url "zone.views.home" %}">Home</a></li>
		<li class="menu_boys"><a href="{% url "zone.views.boys" %}">Boys</a></li>
		<li class="menu_girls"><a href="{% url "zone.views.girls" %}">Girls</a></li>
		<li class="menu_babies"><a href="{% url "zone.views.babies" %}">Babies</a></li>
	     </ul>
	     <ul class="menu">
		<li><a class="drop1" href="#">Age Wise &#187;</a>
		    <div class="dropdown_1columns">
			<div class="col_1"><a href="#"><span>0-12 Months</span></a></div>
			<div class="col_1"><a href="#"><span>1-2 Years</span></a></div>
			<div class="col_1"><a href="#"><span>3-4 Years</span></a></div>
			<div class="col_1"><a href="#"><span>5-7 Years</span></a></div>
			<div class="col_1"><a href="#"><span>8-11 Years</span></a></div>
			<div class="col_1"><a href="#"><span>12+ Years</span></a></div>
		    </div>
		</li>
		<li><a class="drop2" href="#">Toys &#187;</a>
		   <div class="dropdown_2columns">
			<div class="dropdown_2columns_inner">
			    <div class="col_1 firstcolumn">
				<ul>
				  <li class="level1 nav-3-1 first"><a href="#"><span>Action Toys</span></a></li>
				  <li class="level1 nav-3-2"><a href="#"><span>Baby & Toddler Toys</span></a></li>
				  <li class="level1 nav-3-3"><a href="#"><span>Dolls & Stuffed Animals</span></a></li>
				  <li class="level1 nav-3-4"><a href="#"><span>Building & Construction Toys</span></a></li>
				  <li class="level1 nav-3-5"><a href="#"><span>Dressing Up & Costumes</span></a></li>
				  <li class="level1 nav-3-6"><a href="#"><span>Electronic Toys</span></a></li>
				  <li class="level1 nav-3-7 last"><a href="#"><span>Vehicles, RC & Hobby</span></a></li>
				</ul>
			   </div>
			   <div class="col_1">
				<ul>
				  <li class="level1 nav-3-1 first"><a href="#"><span>Arts & Crafts</span></a></li>
				  <li class="level1 nav-3-2"><a href="#"><span>Bikes, Trikes & Ride-Ons</span></a></li>
				  <li class="level1 nav-3-3"><a href="#"><span>Educational Toys</span></a></li>
				  <li class="level1 nav-3-4"><a href="#"><span>Musical Instruments</span></a></li>
				  <li class="level1 nav-3-5"><a href="#"><span>Preschool</span></a></li>
				  <li class="level1 nav-3-6"><a href="#"><span>Speciality Toys</span></a></li>
				  <li class="level1 nav-3-7 last"><a href="#"><span>Video Games</span></a></li>
				</ul>
			   </div>
			</div>
		   </div>
	     </li>
	     <li><a class="drop3" href="#"><strong>Books &#187;</strong></a>
		<div class="dropdown_2columns">
		   <div class="dropdown_2columns_inner">
			<div class="col_1 firstcolumn">
			   <div class="col_1"><a href="#"><span>Action & Adventerous</span></a></div>
			   <div class="col_1"><a href="#"><span>Bedtime & Story Books</span></a></div>
			   <div class="col_1"><a href="#"><span>Classics</span></a></div>
			   <div class="col_1"><a href="#"><span>Electronics & Gadgets</span></a></div>
			   <div class="col_1"><a href="#"><span>Learning & Development</span></a></div>
			   <div class="col_1"><a href="#"><span>Learning & Entertainment</span></a></div>
			   <div class="col_1"><a href="#"><span>Parenting</span></a></div>
		   </div>
		   <div class="col_1">
		       <div class="col_1"><a href="#"><span>Baby Books 0-2 years</span></a></div>
			  <div class="col_1"><a href="#"><span>Children's Books 3-5 years</span></a></div>
			  <div class="col_1"><a href="#"><span>Early Reading & Scriblers</span></a></div>
			  <div class="col_1"><a href="#"><span>Fairy Tales & Myths</span></a></div>
			  <div class="col_1"><a href="#"><span>Religious & Spirituality</span></a></div>
		      </div>
		   </div>
		</div>
	   </li>
	   <li><a class="drop4" href="#"><strong>Games &#187;</strong></a>
		<div class="dropdown_2columns">
		   <div class="dropdown_2columns_inner">
		      <div class="col_1 firstcolumn">
			<div class="col_1"><a href="#"><span>Board Games</span></a></div>
			<div class="col_1"><a href="#"><span>Card Games</span></a></div>
			<div class="col_1"><a href="#"><span>Outdoor Games</span></a></div>
			<div class="col_1"><a href="#"><span>Strategy Games</span></a></div>
		      </div>
		      <div class="col_1">
			<div class="col_1"><a href="#"><span>Brain Teasers</span></a></div>
			<div class="col_1"><a href="#"><span>Classic Games</span></a></div>
			<div class="col_1"><a href="#"><span>Puzzles</span></a></div>
			<div class="col_1"><a href="#"><span>Travel Games & Novelties</span></a></div>
		     </div>
		 </div>
	      </div>
	  </li>
	  <li><a class="drop5" href="#"><strong>Sports &#187;</strong></a>
		<div class="dropdown_1columns">
		  <div class="col_1"><a href="#"><span>Team Sports</span></a></div>
		  <div class="col_1"><a href="#"><span>Individual Sports</span></a></div>
		  <div class="col_1"><a href="#"><span>Outdoor Sports</span></a></div>
		  <div class="col_1"><a href="#"><span>Indoor Sports</span></a></div>
		  </div>
	  </li>
	  <li><a class="drop6" href="#">Party Supplies &#187;</a>
		<div class="dropdown_2columns">
		   <div class="dropdown_2columns_inner">
		      <div class="col_1 firstcolumn">
			<div class="col_1"><a href="#"><span>Decorations</span></a></div>
			<div class="col_1"><a href="#"><span>Invites & Thank Yous</span></a></div>
			<div class="col_1"><a href="#"><span>Party Favors</span></a></div>
			<div class="col_1"><a href="#"><span>Partyware<span></a></div>
			<div class="col_1"><a href="#"><span>Tableware</span></a></div>
		     </div>
		     <div class="col_1">
			<div class="col_1"><a href="#"><span>Gift Wrap</span></a></div>
			<div class="col_1"><a href="#"><span>Mix & Match Collection</span></a></div>
			<div class="col_1"><a href="#"><span>Party Favors, Bags & Hats</span></a></div>
			<div class="col_1"><a href="#"><span>Party Hats</span></a></div>
			<div class="col_1"><a href="#"><span>Themed Collections</span></a></div>
		     </div>
		  </div>
		</div>
	</li>
	<li><a class="drop" style="background-image: none;" href="#"><img src="#" alt=""><strong>Offers</strong></a></li>
      </ul>
  </div>

<div id="dynamic"> <h3> Home -> Babies </h3> </div>

<div id="wrapper">
	<div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
		<img src="{{ STATIC_URL }}baby-with-swap-n-go-snail.jpg" alt="" />
             	<img src="{{ STATIC_URL }}activitytoys_babies.jpg" alt="" />
		<img src="{{ STATIC_URL }}gymsandplaymats_babies.jpg" alt="" />
		<img src="{{ STATIC_URL }}rideonsandwalkers_babies.jpg" alt="" />
		<img src="{{ STATIC_URL }}buildingsetsandblocks_img.jpg" alt="" />
		<img src="{{ STATIC_URL }}chotabeem.png" alt="" />
		
		

               
            </div>
            
           
        </div>

    </div> 

</body>
</html>

