<html>
	<head>
	  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
	  <script>
		$(function(){
	  	$("#menus").menu();
		};
	  </script>
	  <link rel="stylesheet" type="text/css" href="runnable.css">

	</head>
	<body bgcolor="#E0E0E0">
	   <div id="header">
		<div id="header1">
			<!--
			<div id="header2"> !-->
		   <h3>Welcome to KidZone - Online Toys Store </h3>
		</div>
	   </div>

<!--<div id="help">
	<p><strong>Contact: 080-66897688[Mon-Fri, 10AM - 7 PM]</strong>
	</div>!-->

	  <div id="img">
		<div id="img1">
	  	  <img id="logo" src="KidZone Logo.jpg" height=300 width=450>
		    <div id="search">
			<div id="search1">
		    	<table>
			<tr>
			  <td><input type="text" name="serach" value=""></td>
			  <td><input type="button" name="" value="Search"></td>
			</tr>
		    </table></div>
		    </div>
		</div>
	

	  </div>


	<div id="menus">
		<ul id="menu1">
	   	  <li id="home"><a href="#">Home</a></li>
	   	  <li id="boys"><a href="#">Boys</a></li>
	          <li id="girls"><a href="#">Girls</a></li>
	   	  <li id="babies"><a href="#">Babies</a></li>
	       </ul>
	       <ul id="menu2">
	   	  <li class="sub"><a href="#">Shop By Age</a></li>
	   	  <li class="sub"><a href="#">Toys</a></li>
	   	  <li class="sub"><a href="#">Books</a></li>
		  <li class="sub"><a href="#">Games</a></li>
		  <li class="sub"><a href="#">Sports</a></li>
		  <li class="sub"><a href="#">Gifts</a></li>
		  
	       </ul>

	</div>

	<div id="toys">
		
</body>
</html>	
